/* Fonts */
@font-face {
    font-family: FreightDisplay;
    src: url("../lib/fonts/FreightDispPro-Black.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: PlantinStd;
    src: url("../lib/fonts/PlantinStd-BoldCondensed.otf") format("opentype");
    font-weight: bold;
}

/* Variables */
:root {
    /* Fonts */
    --title: FreightDisplay;
    --subtitle: PlantinStd;
    --normal: "Open Sans";

    /* Old MarkItPlace Colors
    --primary: #726363;
    --secondary: #f08c43;
    --tertiary: #5ecacd;
    --background: #f5f5f5;
    */

    /* Honey Mist 
    --primary: #33527F;
    --secondary: #7A9D96;
    --tertiary: #DCAE1D;
    --toc: grey;
    --background: #f5f5f5;
    */

    /* 70s 
    --primary: #252523;
    --secondary: #a39274;
    --tertiary: #DCAE1D;
    --toc: grey;
    --background: #f5f5f5;
    */

    /* Brown
    --primary: #3a4660;
    --secondary: #845007;
    --tertiary: #c9af98;
    --body: #2c1d0e;
    --toc: grey;
    --background: #f5f5f5;
    */

    /* Denim */
    --primary: #4c586f;
    --secondary: #3e3e3b;
    --tertiary: #a2aab0;
    --quaternary: #c9af98;
    --body: #2c1d0e;
    --toc: grey;
    --background: #f5f5f5;
}

/* Body */
body {
    background-color: var(--background);
    height: 100vh;
}

/* Nav and Dropdown */
nav {
    box-shadow: none !important;
    background-color: var(--primary) !important;
    position: absolute;
    top: 0px;
}

nav ul li:hover {
    background-color: var(--tertiary) !important;
}

.dropdown-content {
    background-color: var(--primary) !important;
}

/* Initial Fullscreen Content */
.full-screen {
    height: calc(100vh - 64px);
}

.about-me {
    font-size: 45px;
    color: var(--secondary);
    font-family: var(--title);
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--secondary);
    margin-top: 30vh;
    display: inline-block;
}
.jff {
    font-size: 24px;
    color: var(--quaternary);
    font-family: var(--subtitle);
    letter-spacing: 1px;
    font-weight: 0;
    margin-top: 0px;
}
#arrow-down {
    position: absolute;
    color: var(--tertiary);
    bottom: 20px;
    font-size: 85px;
    left: 50%;
    transform: translateX(-50%) scale(1.25, 1);
}

/* Footer */
.footer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: var(--normal);
    color: var(--secondary);
}
.footer i {
    font-size: 20px;
}
.footer a {
    color: var(--background);
    background-color: var(--quaternary) !important;
}
.footer a + a {
    margin-left: 17px;
}

.MyNav {
    font-size: 14.5px;
    font-family: var(--normal);
    font-weight: medium;
    color: var(--background);
    text-align: left;
    position: relative;
}
.MyHeader {
    font-size: 45px;
    font-family: var(--title);
    color: var(--secondary);
    text-align: center;
    position: relative;
}
.MyBody {
    font-size: 14.5px;
    font-family: var(--normal);
    color: var(--secondary);
    position: relative;
}
.CompanyBadge {
    position: relative !important;
    right: 0px !important;
    margin-left: 7px;
    padding: 5px 10px 5px 11px !important;
    color: var(--background) !important;
    background-color: var(--quaternary) !important;
}
.LocationBadge {
    position: relative !important;
    right: 0px !important;
    margin-left: 7px;
    padding: 5px 10px 5px 11px !important;
    color: var(--background) !important;
    background-color: var(--tertiary) !important;
}

a {
    color: var(--quaternary);
}

/* Collapsible Format */
.collapsible:last-child {
    border-bottom: none;
}
.collapsible-body {
    padding-left: 1.83em;
}
.collapsible-header i {
    color: var(--primary);
}
.collapsible-header, .collapsible-body, .badge, .collapsible-body blockquote {
    color: var(--body);
}
blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid var(--primary);
}

/* Table of Contents */
.toc-wrapper {
    top: 55px !important;
    left: calc(100vw - 120px) !important;
    z-index: 500 !important;
}
.table-of-contents a {
    color: var(--toc);
    padding-left: 20px;
}
.table-of-contents a:hover {
    color: var(--secondary);
    font-weight: 500;
    padding-left: 17px;
    border-left: 1px solid var(--secondary);
}
.table-of-contents a.active {
    color: var(--secondary);
    font-weight: 700;
    padding-left: 17px;
    border-left: 3px solid var(--secondary);
}
#toc {
    position: relative;
}

/* Class for when element is above threshold */
.pin-top {
    position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
    position: relative;
}

/* Class for when element is pinned */
.pinned {
    position: fixed !important;
}

/* INPUT FIELDS */

/* Label Color */
input[type="text"] + label {
    pointer-events: none;
    * {
        pointer-events: all;
    }
}
.input-field label {
    color: var(--body);
}
.input-field label.active {
    color: var(--tertiary);
}
.input-field input[type=text].active {
    border-bottom: 1px solid var(--tertiary);
    box-shadow: 0 1px 0 0 var(--tertiary);
}

/* Label Focus Color */
.input-field input[type=text]:focus + label {
    color: var(--tertiary);
}

/* Label Underline Focus Color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--tertiary);
    box-shadow: 0 1px 0 0 var(--tertiary);
}

/* Valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid var(--tertiary);
    box-shadow: 0 1px 0 0 var(--tertiary);
}

/* Invalid Color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* Icon Prefix Focus Color */
.input-field .prefix.active {
    color: var(--tertiary);
}
.input-field .prefix.valid {
    color: var(--tertiary);
}
.prefix {
    color: var(--primary);
}

/* Text Area Colors */
textarea.materialize-textarea.active {
    border-bottom: 1px solid var(--tertiary);
    box-shadow: 0 1px 0 0 var(--tertiary);
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--tertiary);
    box-shadow: 0 1px 0 0 var(--tertiary);
}
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: var(--tertiary);
}
textarea.materialize-textarea:focus.valid + label:after {
    content: attr(data-success);
    color: var(--tertiary);
    opacity: 1;
}
.character-counter {
    color: var(--body);
}

/* Initialize list class to be invisible for ScrollFire Effect */
#staggered-Experience li, #staggered-Mobile-Experience li, 
#staggered-Education li, #staggered-Mobile-Education li,
#staggered-Contact-Form li, #staggered-Mobile-Contact-Form li {
    opacity: 0;
}

.h2 {
    text-align: left;
}

.submit-btn {
    background-color: var(--quaternary);
    color: var(--background);
}

/* Desktop */
@media only screen and (min-width: 415px) {
    .about-me {
        font-size: 75px;
        margin-top: 35vh;
    }
    .jff {
        font-size: 27px;
    }
    .MyHeader {
        text-align: left;
        font-size: 60px;
    }
    .footer {
        font-size: 20px;
    }
}
