/* Parallax Settings*/
.parallax-window
{
    width: 100%;
    min-height: 450px;
    background: transparent;
    position: absolute;
    top: 0px;
}

.element
{
    font-size: 53px;
    color: #ffffff;
    font-family: "Oswald";
    font-weight: thin;
    letter-spacing: 5px;
    background: transparent;
    position: absolute;
    top: 17%;
    width: 100%;
    text-align: center;
}

/* Typewriter Effect */
@media only screen and (min-width: 668px)
{
    .element
    {
        font-size: 53px;
        color: #ffffff;
        font-family: "Oswald";
        font-weight: thin;
        letter-spacing: 5px;
        background: transparent;
        position: absolute;
        right: 23%;
        top: 11%;
    }

    .parallax-window
    {
        width: 100%;
        min-height: 470px;
        background: transparent;
        position: absolute;
        top: 64px;
    }
}

/* Cursor Settings
.typed-cursor
{
    font-size: 60px;
    font-family: "Ubuntu";
    opacity: 1;
    -webkit-animation: blink infinite infinite;
    -moz-animation: blink infinite infinite;
    animation: blink infinite infinite;
    position: absolute;
    top: 64px;
    color: #ffffff;
    background: transparent;
}
@keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink
{
0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}*/