/* Variables */
:root {
    --orange: #f08c43;
    --darkgrey: #726363;
    --teal: #5ecacd;
    --lightgrey: #f5f5f5;
}

/* Body */
body {
    background-color: var(--lightgrey);
    height: 100vh;
}

/* Nav and Dropdown */
nav {
    box-shadow: none !important;
    background-color: var(--teal) !important;
    position: absolute;
    top: 0px;
}

nav ul li:hover {
    background-color: var(--darkgrey) !important;
}

.dropdown-content {
    background-color: var(--teal) !important;
}

.row a {
    color: var(--lightgrey);
    background-color: var(--orange) !important;
}
.not-last {
    margin-right: 17px;
}

/* Portrait */
.portrait {
    margin-top: 8.5vh;
    text-align: center;
}

.btns {
    margin-top: 40px;
}

/* Mobile Only */
.name {
    font-size: 38px;
    color: var(--darkgrey);
    font-family: "Open Sans";
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 40px;
}

.software-engineer {
    font-size: 21px;
    color: var(--darkgrey);
    font-family: "Open Sans";
    letter-spacing: -1px;
    font-weight: 0;
    margin-top: -20px;
}

/* Desktop Only */
@media only screen and (min-width: 415px) {
    .portrait {
        margin-top: 17vh;
    }
    .name {
        font-size: 50px;
    }
    .software-engineer {
        font-size: 25px;
    }
}