/* Fonts */
@font-face {
    font-family: FreightDisplay;
    src: url("../lib/fonts/FreightDispPro-Black.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: PlantinStd;
    src: url("../lib/fonts/PlantinStd-BoldCondensed.otf") format("opentype");
    font-weight: bold;
}

/* Variables */
:root {
    /* Fonts */
    --title: FreightDisplay;
    --subtitle: PlantinStd;
    --normal: "Open Sans";

    /* Old MarkItPlace Colors
    --primary: #726363;
    --secondary: #f08c43;
    --tertiary: #5ecacd;
    --background: #f5f5f5;
    */

    /* Honey Mist 
    --primary: #33527F;
    --secondary: #7A9D96;
    --tertiary: #DCAE1D;
    --toc: grey;
    --background: #f5f5f5;
    */

    /* Brown */
    --primary: #3a4660;
    --secondary: #845007;
    --tertiary: #c9af98;
    --toc: grey;
    --background: #f5f5f5;

    /* Black Gold 
    --primary: #040404;
    --secondary: #a39274;
    --tertiary: #d8ab4e;
    --toc: grey;
    --background: #f5f5f5;*/
}

/* Body */
body {
    background-color: var(--background);
    height: 100vh;
}

/* Nav and Dropdown */
nav {
    box-shadow: none !important;
    background-color: var(--primary) !important;
    position: absolute;
    top: 0px;
}

nav ul li:hover {
    background-color: var(--tertiary) !important;
}

.MyNav {
    font-size: 14.5px;
    font-family: var(--normal);
    font-weight: medium;
    color: var(--background);
    text-align: left;
    position: relative;
}

.dropdown-content {
    background-color: var(--primary) !important;
}

.row a {
    color: var(--background);
    background-color: var(--tertiary) !important;
}
.middle-icon {
    margin-left: 17px;
    margin-right: 17px;
}

/* Portrait */
.portrait {
    margin-top: 8.5vh;
    text-align: center;
}

.btns {
    margin-top: 40px;
}

/* Mobile Only */
.name {
    font-size: 38px;
    color: var(--primary);
    font-family: var(--title);
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 40px;
    display: inline-block;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 15px;
}

.software-engineer {
    font-size: 21px;
    color: var(--secondary);
    font-family: var(--subtitle);
    letter-spacing: 1px;
    font-weight: 0;
    margin-top: 0px;
}

/* Desktop Only */
@media only screen and (min-width: 415px) {
    .portrait {
        margin-top: 18vh;
    }
    .name {
        font-size: 75px;
    }
    .software-engineer {
        font-size: 27px;
    }
}