/* Fonts */
@font-face {
    font-family: FreightDisplay;
    src: url("../lib/fonts/FreightDispPro-Black.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: PlantinStd;
    src: url("../lib/fonts/PlantinStd-BoldCondensed.otf") format("opentype");
    font-weight: bold;
}

/* Variables */
:root {
    /* Fonts */
    --title: FreightDisplay;
    --subtitle: PlantinStd;
    --normal: "Open Sans";

    /* Old MarkItPlace Colors
    --primary: #726363;
    --secondary: #f08c43;
    --tertiary: #5ecacd;
    --background: #f5f5f5;
    */

    /* Honey Mist 
    --primary: #33527F;
    --secondary: #7A9D96;
    --tertiary: #DCAE1D;
    --toc: grey;
    --background: #f5f5f5;
    */

    /* 70s 
    --primary: #252523;
    --secondary: #a39274;
    --tertiary: #DCAE1D;
    --toc: grey;
    --background: #f5f5f5;
    */

    /* Brown
    --primary: #3a4660;
    --secondary: #845007;
    --tertiary: #c9af98;
    --body: #2c1d0e;
    --toc: grey;
    --background: #f5f5f5;
    */

    /* Denim */
    --primary: #4c586f;
    --secondary: #3e3e3b;
    --tertiary: #a2aab0;
    --quaternary: #c9af98;
    --body: #2c1d0e;
    --toc: grey;
    --background: #f5f5f5;
}

/* Body */
body {
    background-color: var(--background);
    height: 100vh;
}

/* Nav and Dropdown */
nav {
    box-shadow: none !important;
    background-color: var(--primary) !important;
    position: absolute;
    top: 0px;
}

nav ul li:hover {
    background-color: var(--tertiary) !important;
}

.dropdown-content {
    background-color: var(--primary) !important;
}

/* Initial Fullscreen Content */
.full-screen {
    height: calc(100vh - 64px);
}

.projects {
    font-size: 45px;
    color: var(--secondary);
    font-family: var(--title);
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--secondary);
    margin-top: 30vh;
    display: inline-block;
}
.jff {
    font-size: 24px;
    color: var(--quaternary);
    font-family: var(--subtitle);
    letter-spacing: 1px;
    font-weight: 0;
    margin-top: 0px;
}
#arrow-down {
    position: absolute;
    color: var(--tertiary);
    bottom: 20px;
    font-size: 85px;
    left: 50%;
    transform: translateX(-50%) scale(1.25, 1);
}

.section {
    padding-bottom: 0px;
}

/* Footer */
.footer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: var(--normal);
    color: var(--secondary);
}
.footer i {
    font-size: 20px;
}
.footer a {
    color: var(--background);
    background-color: var(--quaternary) !important;
}
.footer a + a {
    margin-left: 17px;
}

/* Tabs */
.tabs {
    background-color: var(--background);
}

.MyNav {
    font-size: 14.5px;
    font-family: var(--normal);
    font-weight: medium;
    color: var(--background);
    text-align: left;
    position: relative;
}
.MyHeader {
    font-size: 45px;
    font-family: var(--title);
    color: var(--secondary);
    text-align: center;
    position: relative;
}
.MyTab {
    font-size: 16px;
    font-family: var(--subtitle);
    letter-spacing: 1px;
    color: var(--primary);
    text-align: center;
    position: relative;
}
.MyBody {
    font-size: 14.5px;
    font-family: var(--normal);
    color: var(--secondary);
    position: relative;
}
.MyBlock {
    font-size: 18px;
    font-family: var(--normal);
    color: var(--body);
    position: relative;
}
.MyBadge {
    position: relative !important;
    right: 0px !important;
    margin-right: 15px;
    padding: 5px 10px 5px 11px !important;
    color: var(--background) !important;
    background-color: var(--quaternary) !important;
}

.collection {
    border: none;
    margin: 0px 0px 20px 0px;
}
.collection-item {
    background-color: var(--background) !important;
    padding: 10px 0px !important;
    text-align: center !important;
}

a {
    color: var(--quaternary);
}

/* Materialboxed Screenshots */
.materialboxed {
    height: 520px;
    width: 520px;
}

/* Table of Contents */
.toc-wrapper {
    top: 55px !important;
    left: calc(100vw - 120px) !important;
    z-index: 500 !important;
}
.table-of-contents a {
    color: var(--toc);
    padding-left: 20px;
}
.table-of-contents a:hover {
    color: var(--secondary);
    font-weight: 500;
    padding-left: 17px;
    border-left: 1px solid var(--secondary);
}
.table-of-contents a.active {
    color: var(--secondary);
    font-weight: 700;
    padding-left: 17px;
    border-left: 3px solid var(--secondary);
}
#toc {
    position: relative;
}

/* Class for when element is above threshold */
.pin-top {
    position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
    position: relative;
}

/* Class for when element is pinned */
.pinned {
    position: fixed !important;
}

.tabs .indicator {
    background-color: var(--primary);
}
.tab a {
    color: var(--tertiary) !important;
}
.tab .active {
    color: var(--primary) !important;
    font-weight: bold;
}

.CodeButton {
    font-family: var(--normal);
    text-align: center;
}

.CodeButton a {
    background-color: var(--quaternary);
    color: var(--background);
}

img.center {
    display: block;
    margin: 0 auto;
}

/* Initialize list class to be visible for Description Tab */
#staggered-PocketChangeDescrip li, #staggered-CampusCowDescrip li, #staggered-LimbyDescrip li, #staggered-FrackmanDescrip li, 
#staggered-BlackjackDescrip li, #staggered-MarkitplaceDescrip li, #staggered-EarthquakeDescrip li, #staggered-SkyscraperDescrip li {
    opacity: 1;
}

/* Initialize list class to be invisible for all other tabs */
#staggered-PocketChangeDesign li, #staggered-CampusCowDesign li, #staggered-LimbyDesign li, #staggered-FrackmanDesign li, #staggered-BlackjackDesign li, #staggered-MarkitplaceDesign li #staggered-EarthquakeDesign li, #staggered-SkyscraperDesign li,
#staggered-PocketChangeCode li, #staggered-CampusCowCode li, #staggered-LimbyCode li, #staggered-FrackmanCode li, #staggered-BlackjackCode li, #staggered-MarkitplaceCode li, #staggered-EarthquakeCode li, #staggered-SkyscraperCode li {
    opacity: 0; 
}

/* Desktop Only */
@media only screen and (min-width: 415px) {
    .projects {
        font-size: 75px;
        margin-top: 35vh;
    }
    .jff {
        font-size: 27px;
    }
    .MyHeader {
        font-size: 60px;
        text-align: left;
    }
    .collection-item {
        background-color: var(--background) !important;
        padding: 10px 0px !important;
        text-align: left !important;
    }
    .footer {
        font-size: 20px;
    }
}
